@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add your global styles here */
.list-item {
    position: relative;
    padding-left: 2rem;
    list-style: none;
}
  .list-item::before {
    content: "\2713";
    left: 0;
    color: violet;
  }

  body {
    color: white;
    text-align: center;

  }

nav {
height: 4rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-right: 1px;
  padding: 0;
}
nav ul li:last-child {
  margin-right: 10px;
}

nav li {
  margin-left: 1rem;
}

nav a {
color: white;
text-decoration: none;
transition: all 0.2s ease-in-out;
}

nav a:hover {
color: #fbbf24;
}

@media (max-width: 640px) {
  nav > ul > li > a:not(.submenu-link) {
    font-size: 0.75rem;
  }
}